<h1>New Career</h1>

<% if @career.errors.any? %>
  <ul>
    <% @career.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @career do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit 'Create This Career' %>
<% end %>
